{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">

{% endblock styles %}

{% block scripts %}
{% script 'app' %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock scripts %}

{% block content %}
<article>
  <header class="container">
    <h1>aida ylanan</h1>
    <img src="{% static 'assets/images/baker.jpg' %}" alt="Baker logo" width=250 />
  </header>
  <div class="row" data-masonry='{"percentPosition": true }'>
    {% for obj in stories %}
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ obj.url }}">{{ obj.hed }}</a>
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      {% if obj.role %}<li class="list-group-item">{{ obj.role }} </li>{% endif %}
      {% if obj.tools %}<li class="list-group-item">{{ obj.tools }}</li>{% endif %}
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  {% endfor %}
</div>
</article>
{% endblock content %}
