// RESET
// Smooths out the rough edges across browsers
@use './tools/normalize';

// VARIABLES
// Reusable settings
@use './variables/colors';
@use './variables/fonts';

// YOUR CODE
// Starting writing your stuff below here
.container {
  max-width: 630px;
  margin: 30px auto;
  line-height: 1.4;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

h1 {
  font-family: fonts.$font-family-headline;
  font-weight: fonts.$font-weight-headline;
  font-size: 50px;
  color: darkgreen;
  text-align: center;
}

h2 {
  font-family: fonts.$font-family-subhed;
  font-weight: fonts.$font-weight-headline;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}

h3 {
  font-family: fonts.$font-family-subhed;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: darkolivegreen;
}

a:hover {
  color: red;
}

b {
  font-family: fonts.$font-family-bold;
}

img {
  margin: auto;
  display: block;
}

p {
  font-family: fonts.$font-family-body;
  font-weight: fonts.$font-weight-body;
  &.byline {
    text-transform: uppercase;
    font-size: 14px;
  }
  &.prose {
    margin: 18px 0;
    font-size: 18px;
  }
}

// projects

.card {
  font-family: fonts.$font-family-body;
  outline: 2px dotted blue;
  margin: 10px;
  padding: 10px;
  width: 18rem;
}

.card-img-top {
  width: 250px;
  margin: 10px auto;
}

.card-title {
  font-size: 16px;
  text-align: justify;
  text-justify: auto;
}

// show more

#module #collapseExample.collapse:not(.show) {
  //display: block;
  height: 50rem;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 50rem;
}

#module a.collapsed::after {
  content: 'show more +';
}

#module a:not(.collapsed):not(.outlink)::after {
  content: 'show less -';
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-top: 30px;
  font-family: fonts.$font-family-body;
}

// other text

.center {
  text-align: center;
}

.small {
  font-size: 14px;
}

.smaller {
  font-size: 12px;
}
.footnote {
  margin-top: 40px;
  text-align: center;
}

#work {
  color: red;
}

#contact {
  color: #e6c829;
}

#about {
  color: blue;
}

// about

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .card-img-top {
    width: 85%;
  }
}
