// RESET
// Smooths out the rough edges across browsers
@use './tools/normalize';

// VARIABLES
// Reusable settings
@use './variables/colors';
@use './variables/fonts';

// YOUR CODE
// Starting writing your stuff below here
.container {
  max-width: 630px;
  margin: 30px auto;
  line-height: 1.4;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

h1 {
  font-family: fonts.$font-family-headline;
  font-weight: fonts.$font-weight-headline;
  font-size: 50px;
  color: darkgreen;
}

h2 {
  font-family: fonts.$font-family-subhed;
  font-weight: fonts.$font-weight-headline;
  font-size: 40px;
}

h3 {
  font-family: fonts.$font-family-subhed;
  font-size: 35px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: darkolivegreen;
}

a:hover {
  color: red;
}

.card {
  outline: 2px dotted blue;
  margin: 10px;
  padding: 10px;
}
.small {
  font-size: 14px;
}

#work {
  color: red;
}

#contact {
  color: gold;
}

#about {
  color: blue;
}

p {
  font-family: fonts.$font-family-body;
  font-weight: fonts.$font-weight-body;
  &.byline {
    text-transform: uppercase;
    font-size: 14px;
  }
  &.prose {
    margin: 18px 0;
    font-size: 18px;
  }
}

.card {
  font-family: fonts.$font-family-body;
}

.card-img-top {
  width: 250px;
  margin: 10px auto;
}
